.text {
  //500med
  //600semi bold
  //700bold
  //800extra bold

  &__title {
    &-lg {
      color: $color-black;
      font-size: 2.6rem;
      font-weight: 700;
    }

    &-lg--color {
      color: $color-primary-dark;
      font-size: 2.6rem;
      font-weight: 700;
    }

    &-med {
      color: $color-black;
      font-size: 2rem;
      font-weight: 700;
    }
  }

  &__label {
    font-size: 1.6rem;
    font-weight: 500;
    color: $color-black;

    &-color {
      font-size: 1.6rem;
      font-weight: 600;
      color: $color-primary-dark;
    }

    &-muted {
      font-size: 1.6rem;
      font-weight: 600;
      color: $color-gray-dark;
    }

    &-sm {
      font-size: 1.4rem;
      font-weight: 600;
      color: $color-gray-dark;
    }
  }

  &__sm {
    font-weight: 300;
    color: $color-black;
    font-size: 1.4rem;
  }

  &__sm--mute {
    font-weight: 400;
    color: $color-gray;
    font-size: 1.4rem;
  }
}
