$color-primary: #0D53FC;
$color-primary-dark: #3E3EF4;
$color-primary-light: #4198F7;

$color-white: #fff;
$color-gray: #C6CDD8;
$color-black: #263446;
$color-gray-dark: #88949E;
$color-gray-light: #DEE5F1;
$color-gray-lightest: #F5F5FB;

$color-success: #49C496;
$color-bg-gray: #F1F5F9;
