$color-primary: #0d53fc;
$color-primary-dark: #3e3ef4;
$color-primary-light: #4198f7;

$color-white: #fff;
$color-gray: #c6cdd8;
$color-black: #263446;
$color-gray-dark: #88949e;
$color-gray-light: #dee5f1;
$color-gray-lightest: #f5f5fb;

$color-success: #49c496;
$color-bg-gray: #f1f5f9;
