.btn {
  outline: none;
  border: none;
  cursor: pointer;

  &__primary {
    background-color: $color-primary-light;
    color: $color-white;
    font-size: 1.6rem;
    border-radius: 2.5rem;
    padding: 1rem 1.5rem;

    &:hover {
      background-color: $color-primary;
      transition: 0.5s;
    }

    &:disabled {
      background-color: $color-gray;
      color: $color-black;
      cursor: not-allowed;
    }
  }

  &__danger {
    background-color: #e12a3a;
    color: $color-white;
    font-size: 1.6rem;
    border-radius: 2.5rem;
    padding: 1rem 1.5rem;

    &:hover {
      background-color: #d92232;
      transition: 0.5s;
    }
  }

  &__link {
    background-color: transparent;
    color: $color-primary;
    font-size: 1.6rem;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
