.input {

    &__text {
        border: none;
        outline: none;
        font-size: 1.6rem;
        background-color: $color-gray-lightest;
        // color: $color-gray-light;
        padding: .5rem 1rem;
        border-radius: 1rem;

    }
}
