.practitionerListTable {
  width: 100%;
  text-align: left;
  border-spacing: 0 1rem;
  border-collapse: separate;

  &__wrapper {
    padding: 1.5rem;
  }

  tr th {
    padding: 1.5rem 1.5rem;
  }

  &__row {
    cursor: pointer;
    margin-bottom: 2rem;
    background-color: $color-white;
    td {
      border: none;
      padding: 1.5rem 1.5rem;
    }
  }

  &__userInfo {
    display: flex;
    align-items: center;

    &-img {
      height: 4rem;
      width: 4rem;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 1rem;
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-dotsIcon {
      height: 1.5rem;
      cursor: pointer;
    }

    &-dotsMenu {
      top: 60%;
      right: 60%;
      z-index: 99;
      display: flex;
      row-gap: 1rem;
      padding: 1.5rem;
      position: absolute;
      border-radius: 1rem;
      flex-direction: column;
      min-width: max-content;
      background-color: $color-white;
      box-shadow: 1px 1px 52px -8px rgba(0, 0, 0, 0.67);

      span {
        cursor: pointer;
      }

      &--container {
        position: relative;
      }
    }
  }
}

.status {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;

  &__false {
    background-color: #f2451c;
  }

  &__true {
    background-color: #43bf57;
  }
}
