// Import utility styles
@import './utils/mixins';
@import './utils/utilities';

// Import base styles
@import './base/variables';
@import './base/base';
@import './base/typography';

// Import component styles
@import './components/modal';
@import './components/button';
@import './components/inputs';
@import './components/loading';
// @import './components/breadcrumb';
// @import './components/imageUpload';
@import './components/practitionerListTable';
@import './components/practitionerActionForm';

// Import layout styles
@import './layout/header';

// Import page styles
@import './pages/signin';
@import './pages/practitionerList';
// @import './pages/practitionerProfile';
